<!DOCTYPE html>
<html>
<head>

  <!--[if IE]>
<script type="text/javascript">
window.location = "http://cctu.medschl.cam.ac.uk/rescue-asdh-IE";
</script>
<![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>DILT-FREQUENCY CLINICAL TRIAL </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
     <script type="text/javascript" src="js/wf.js" defer></script>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
  
                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row" id="header">
        <div class="w-col w-col-6 subfooter-left">
          <a href="/"><img class="logo-in-header" style="padding-top:40px;" src="images/logoctu.jpg" alt="CUH NHS logo" width="100">
        </div>
             <!--    <div class="w-col w-col-4 boutoni2">
<a class="login-button" clearfix href="https://prod.tenalea.net/cctu/DM/default.aspx" target="_self">
 -->
         <!--    <button type="button" class="btn btn-danger btn-lg">Access Randomisation System<br> (TENALEA)</button></div>  -->

  <!--         <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Cambridge Clinical Trials Unit</div></a> -->
        
       <br><div class="w-col w-col-6 w-clearfix nav-column"> <a class="login-button" clearfix href="/login-dilfreq" target="_self">

            <button type="button" class="btn btn-info btn-lg">Login</button>

          </a>
<!--  <img src="images/rescue.jpg" alt="RESCUE ASDH logo" width="100" height="50">
 -->        
      </div>



    </div>
</div>

<hr>
  </header>


<body>
  
 

      
<center><iframe width="1224" height="968" src="http://www.clinical-trials-type1-diabetes.com/home/" ></iframe></center>



</body>


 <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
</html>
