extends layout
 
block content
  h1 DIL-FREQUENCY Trial Restricted Documents Access
  hr
  .row
    .col-sm-6
      h2 Access Study Databases
      p
        a.btn.btn-default(href='http://131.111.94.51/OpenClinica/pages/login/login', role='button') Open Clinica Live Server »
      p
        a.btn.btn-default(href='http://131.111.94.55/OpenClinica/pages/login/login', role='button') Open Clinica Test Server »	
   