extends layout

block content
  h1 RESCUE-ASDH Trial Restricted Documents Access
  hr
  .row
    .col-sm-6
      h2 CRF Documents Version 1.0
      a(href='/rescue-docs/Baseline.pdf') 
        h3 Baseline Forms
      a(href='/rescue-docs/PID.pdf') 
        h3 PID Form
      a(href='/rescue-docs/Stage_1.pdf') 
        h3 Stage 1 Forms
      a(href='/rescue-docs/Stage_2.pdf') 
        h3 Stage 2 Forms
      a(href='/rescue-docs/Stage_3.pdf') 
        h3 Stage 3 Forms
      a(href='/rescue-docs/Stage_4.pdf') 
        h3 Stage 4 Forms
      a(href='#') 
        h3 Follow up Questionnaires
    .col-sm-6
      br 
      br
      a(href='/rescue-docs/crf_completion.pdf') 
        h3 CRF Completion Guidelines
      a(href='/rescue-docs/sae_reporting.pdf') 
        h3 SAE Reporting Form 

