extends layout

block content
  h1 RESCUE-ASDH Trial Restricted Documents Access
  hr
  .row
    .col-sm-6
      h3 CRF Documents Version 2.0 November 2014
      a(href='/rescue-docs/Baselinev2.pdf') 
        h3 Baseline Forms
      a(href='/rescue-docs/PID.pdf') 
        h3 PID Form
      a(href='/rescue-docs/Stage_1v2.pdf') 
        h3 Stage 1 Forms
      a(href='/rescue-docs/Stage_2v2.pdf') 
        h3 Stage 2 Forms
      a(href='/rescue-docs/Stage_3v2.pdf') 
        h3 Stage 3 Forms
      a(href='/rescue-docs/Stage_4v2.pdf') 
        h3 Stage 4 Forms
      a(href='/rescue-docs/ResourceUseQues.docx') 
        h3 Study Questionnaire
      a(href='/rescue-docs/Q1GOSE.docx') 
        h3 Outcomes Questionnaire
    .col-sm-6
      br 
      br
      a(href='/rescue-docs/crf_completion.pdf') 
        h3 CRF Completion Guidelines
      a(href='/rescue-docs/sae_reporting.pdf') 
        h3 SAE Reporting Form 

